<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block page_title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}link/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}link/css/base.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}link/css/style.css" type="text/css" />

        {% block css %}
        {% endblock %}

        {% block js %}
	        <script type="text/javascript">
		       var dojoConfig = {
		           has: {
		               "dojo-firebug": true,
		               "dojo-debug-messages": true
		           },
		           isDebug: true,
		           parseOnLoad: false,
		           async: true,
		           baseUrl: "{{ STATIC_URL }}syjon/js/dojotoolkit/dojo/",
		           packages: [
		               {
		                   "location": "../dijit",
		                   "name": "dijit"
		               },
		               {
		                   "location": "../dojox",
		                   "name": "dojox"
		               },
		               {
		                   "location": ".",
		                   "name": "dojo"
		               }
		           ],
		       };
			</script>
			<script src="{{ STATIC_URL }}syjon/js/dojotoolkit/dojo/dojo.js" ></script>
		{% endblock %}
    </head>
    
    <body class="claro"> 
        {% block body %} {% endblock %}
    </body>
</html>



