{% extends "base_1.html" %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="{{ STATIC_URL }}link/css/style.css" type="text/css" />
{% endblock %}

{% block js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}syjon/js/jquery-1.7.2.min.js" ></script>	
	<script type="text/javascript">
	$('html').ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
	
	
		$(function() {
			$("#filteredit").keyup(function() {
				var str=$("#filtereditinput").val()
				str=str.replace(/ /g,'_');
				var url="{% url apps.link.views.entrytable filter='1' filtertype=0 %}";
				url=url.replace("1",str);
				$.ajax({
					type: "POST",
					url: url,
					success: function(response) {
						
						$("#entrytable").html(response);
					}	
				});
			});
			$("#alllink").click(function() {
				$.ajax({
					type: "POST",
					url: "{% url apps.link.views.entrytable filter='0' filtertype=4 %}",
					success: function(response) {$("#entrytable").html(response);}
				});
			});
			$("#studentslink").click(function() {
				$.ajax({
					type: "POST",
					url: "{% url apps.link.views.entrytable filter='0' filtertype=1 %}",
					success: function(response) {$("#entrytable").html(response);}
				});
			});
			$("#teacherslink").click(function() {
				$.ajax({
					type: "POST",
					url: "{% url apps.link.views.entrytable filter='0' filtertype=2 %}",
					success: function(response) {$("#entrytable").html(response);}
				});
			});
			$("#roomslink").click(function() {
				$.ajax({
					type: "POST",
					url: "{% url apps.link.views.entrytable filter='0' filtertype=3 %}",
					success: function(response) {$("#entrytable").html(response);}
				});
			});
		});
	</script>
{% endblock %}


{% block horizontal_menu_items %}
	<!-- <li id="plan_menu"> -->
		<!--
		<li><a href="">Przeglądanie</a></li>
		<li><a href="">Rezerwacja</a></li>
		<li><a href="">Zapisy</a></li>	
		<li style="margin-left: 20px;"><a href="">Wyświetlanie</a></li>
		-->
		<li><a>Tydzień</a>
			<ul>
				<li><a href="{% url apps.link.views.weekday 0 %}">cały tydzień</a></li>
				<li><a href="{% url apps.link.views.weekday 8 %}">dni robocze</a></li>
				<li><a href="{% url apps.link.views.weekday 9 %}">weekend</a></li>
			</ul>
		</li>	
		{% if nonblank %}
		<li><a href="{% url apps.link.views.printgrid %}">Drukuj</a></li>	
		{% endif %}

	<!-- </ul> -->
{% endblock %}

{% block planweekdayoptions %}
{% endblock %}

{% block content_container %}
	<div id="left_containter">
		<div id="content">
			{% include "link/grid.html" %}
		</div>
	</div>
	<div id="right_containter">
		<div id="side_content">
			<div id="titlebox">
				<div id="unit_header">
					<a>{{chosenunit}}</a>
				</div>
				<div id="plan_header">
					<a>{{chosenname}}</a>
				</div>
			</div>
			<div id="filtertable">
				<table>
					<tr>
						<td><a href="javascript:void(0)" id="alllink" value="4">wszystko</a></td>
						<td><a href="javascript:void(0)" id="studentslink" value="1">studenci</a></td>
						<td><a href="javascript:void(0)" id="teacherslink" value="2">nauczyciele</a></td>
						<td><a href="javascript:void(0)" id="roomslink" value="3">sale</a></td>
					</tr>
				</table>
			</div>
			
			<form id="filterform">
				{% csrf_token %}
				<div id="filteredit">
					<input id="filtereditinput" name="input" class="label" value="{{ lastfilter }}">
						
					</input>
				</div>
			
			</form>
			<div id="scrolltable">
				
				<table id="entrytable">
					{{filteredlist}}	
				</table>
			</div>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block footer %}{% endblock %}

