{% extends "link/base_0.html" %}

{% block body %}

<div id="top">
	<div id="logo">
		<a href="http://www.umcs.lublin.pl" target="_blank"><img src="{{ STATIC_URL }}link/images/logo_b_60.png" alt=""/></a>
	</div>
	<div id="unit_header">
		<a>{{chosenunit}}</a>
	</div>
	<div id="plan_header">
		<a>{{chosenname}}</a>
	</div>
	<div id="user_bar">
		
	</div>
	<div class="clear">
		
	</div>
</div>

<div id="left_containter">
	<div id="fake_horizontal_menu" class="bg_color_dark"> </div> 

	<div id="plan_weekday_options" class="bg_color_dark">
		{% block planweekdayoptions %} {% endblock %}
	</div>
	<div id="plan_options">
		{% block planoptions %} {% endblock %}	
	</div>
	<div class="clear">
		<div id="content">
			
			{% block content %} {% endblock %}
		</div>
	</div>
</div>

<div id="right_containter">
	<div id="horizontal_menu" class="bg_color_dark">
		<ul>
			{% block horizontal_menu_items %} {% endblock %}
		</ul>
	</div>
	<div id="side_content">
		{% block side %} {% endblock %}
	</div>

</div>

{% endblock %}

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<ul {% if message.tags %} class="{{ message.tags }}" {% endif %}>
		<li>
			{{ message }}
		</li>
	</ul>
	{% endfor %}
</div>
<div class="spacer_5"></div>
{% endif %}

