{% if printmode %}
<div id="print_body">
<div id="weekday_header_print">
{% else %}
<div id="weekday_header">
{% endif %}
	<table>
		<tr>
			{%if weekday == 1 or weekday == 0 or weekday == 8 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 1 %}">poniedziałek</a></td>
			{% endif %}
			{%if weekday == 2 or weekday == 0 or weekday == 8 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 2 %}">wtorek</a></td>
			{% endif %}
			{%if weekday == 3 or weekday == 0 or weekday == 8 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 3 %}">środa</a></td>
			{% endif %}
			{%if weekday == 4 or weekday == 0 or weekday == 8 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 4 %}">czwartek</a></td>
			{% endif %}
			{%if weekday == 5 or weekday == 0 or weekday == 8 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 5 %}">piątek</a></td>
			{% endif %}
			{%if weekday == 6 or weekday == 0 or weekday == 9 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 6 %}">sobota</a></td>
			{% endif %}
			{%if weekday == 7 or weekday == 0 or weekday == 9 %}
				<td style="width: {{boxwidth}}%"><a href="{% url apps.link.views.weekday 7 %}">niedziela</a></td>
			{% endif %}
		</tr>
	</table>
</div>
{% if printmode %}
<div id="hourtablecontainer_print">
{% else %}
<div id="hourtablecontainer">
{% endif %}
	{% if printmode %}
		{% for line in hLines %}
		<div class="planhour_print" style="top: {{line.top}}%">
			{{line.label}}
		</div>
		{% endfor %}
	{% else %}
		{% for line in hLines %}
		<div class="planhour" style="top: {{line.top}}%">
			{{line.label}}
		</div>
		{% endfor %}
	{% endif %}
</div>
{% if printmode %}
<div id="plantablecontainer_print">
{% else %}
<div id="plantablecontainer">
{% endif %}
	{% for line in hLines %}
	<div class="planhline" style="top: {{line.top}}%"></div>
	{% endfor %}
	{% for line in vLines %}
	<div class="planvline" style="left: {{line}}%"></div>
	{% endfor %}
	{{ activities }}
</div>
{% if printmode %}
</div>
{% endif %}
