{% extends "link/base_0.html" %}
{% block body %}
<div id="print_header" >{{chosenname}}</div>
<div style="height: 920px; background-color: #FFFFFF;">
{% include "link/grid.html" %}
</div>
{% endblock %}
