/* 1,3,5,7,11,13,17,19,23,29,31 */

/* ------------------------------------------------------ */
/* --- TEMPLATE COLORS ---------------------------------- */

.color_light {}
.color_dark {}
.bg_color_light {}
.bg_color_dark {background-color: #593E1A;}

/* ------------------------------------------------------ */
/* --- APP ---------------------------------------------- */

.app_pl {padding-left: 11px;}

#left_containter {position: absolute; top: 90px; bottom: 0px; left: 0px; right: 300px;}
#right_containter {position: absolute; top: 90px; bottom: 0px; width: 300px; right: 0px;}

#plantablecontainer {position: absolute; top: 14px; bottom: 1px; left: 40px; right: 11px;}
#plantablecontainer_print {position: absolute; top: 44px; bottom: 1px; left: 40px; right: 11px;}
/*#plantablecontainer {border-left: #BEBFB8 solid 1px; border-right: #BEBFB8 solid 1px;}*/
#plantable {width: 100%; height: 100%;}
#plantable tr {  height: 40px;}
#plantable td {  height: 100%; width: 100%; border: #BEBFB8 solid 1px;}

.planhline {position: absolute; left: 0px; height: 0px; width: 100%; border-bottom: 1px solid #BEBFB8;}
.planvline {position: absolute; top: 0px; height: 100%; width: 0px; border-left: 1px solid #BEBFB8;}

#hourtablecontainer {position: absolute; top: 12px; bottom: 5px; left: 0px; width: 30px; }
#hourtablecontainer_print {position: absolute; top: 42px; bottom: 5px; left: 0px; width: 30px; }
.planhour {position: absolute; left: 0px; width:35px;  text-align: right; font-size: 10px}
.planhour_print {position: absolute; left: 0px; width:35px;  text-align: right; font-size: 10px; color: #000000;}


#side_content {position: absolute; top: 0px; bottom: 0; left: 0px; right: 0;}
#side_content {background: #DEDEDE; border-left: #BEBFB8 solid 1px;}

#titlebox {width: 100%; height: 40px;}

#filtertable {position: absolute; right: 0px; top: 70px; height: 15px;}
#filtertable {font-size: 10px;}
#filtertable td {padding-top: 2px; padding-bottom: 2px; padding-left: 5px; padding-right: 5px;}
#filtertable td {border-left: #BEBFB8 solid 1px;}
#filtertable td {border-top: #BEBFB8 solid 1px;}

#filtertable td:hover {background-color: #EFEFEF;}
#filtertable td a {display: block; color: #444444; text-decoration: none; }
#filtertable td:hover a {display: block; color: #000000; text-decoration: none; }



#filteredit {position: absolute; top: 84px; height: 24px; left: 0px; right: 6px;}
#filteredit input {width: 100%; height: 20px; padding: 0; padding: 2px;}
#filteredit input {border-top: 1px #BEBFB8 solid; border-left: 0px; border-left: 0px;}

#scrolltable {position: absolute; left: 0px; top: 108px; bottom: 30px; right: 0px; overflow: scroll; overflow-x: hidden;}
#scrolltable {border-top: #BEBFB8 solid 1px; border-bottom: #BEBFB8 solid 1px;}

#entrytable {width: 100%;}
#entrytable td {width: 100%;}
#entrytable tr:hover {background-color: #EFEFEF;}
#entrytable tr {border-bottom: #CCCCCC solid 1px; width: 100%;}
.entrylink a {padding: 7px;}



#entrytable td a {display: block; color: #444444; text-decoration: none; }
#entrytable tr:hover a {display: block; color: #000000; text-decoration: none; }

.entrydepartmenttd {vertical-align:  middle;}
.entrydepartmenttd a {padding: 2px;}
.entrydepartmenttd {border-left: #CCCCCC solid 1px;}

.notfoundlink {color: #444444; text-decoration: underline; }

.titlecontainer {width: 100%;}
.titleleft {position: relative; left:0; right:26;}
.titleleft {position: relative; width:26; right:0;}

/* ------------------------------------------------------ */
/* --- HORZONTAL MENU ----------------------------------- */

#fake_horizontal_menu {position: absolute; top: 0px; height: 30px; left: 0px; right: 0px;}

#horizontal_menu {padding-left: 0px;}
#horizontal_menu ul {height: 30px; }
#horizontal_menu ul li {float: left; display: block;}
#horizontal_menu ul li.border_right {border-right: 1px solid #97b2bf;}
#horizontal_menu ul li.border_left {border-left: 1px solid #97b2bf;}
#horizontal_menu ul li a {padding: 8px; height:14px; color: #ffffff; font-size: 14px; display: block; text-decoration: none;}
#horizontal_menu ul li a:hover {background-color: #9F6F2E;}
#horizontal_menu ul li a.home {background-image: url('../images/icons/icon_home_2.png'); background-repeat: no-repeat; background-position: 50% 50%; width: 40px; height: 30px; padding: 0;}

#unit_header {position:absolute; left: 0px; right: 0px; top: 5px; height: 30px;}
#unit_header {text-align: center; vertical-align: middle; font-weight: bold;}
#unit_header a {font-size: 12px; display: block; text-decoration: none;}

#plan_header {position:absolute; left: 0px; right: 0px; top: 30px; height: 30px;}
#plan_header {text-align: center; vertical-align: 50%;}
#plan_header a {font-size: 12px; display: block; text-decoration: none;}

#plan_options {position: absolute; left: 0px; width: 100%; top: 0px;}
#plan_options ul li {float: left; display: block;}
#plan_options ul li.border_right {border-right: 1px solid #97b2bf;}
#plan_options ul li.border_left {border-left: 1px solid #97b2bf;}
#plan_options ul li a {padding: 8px; height:14px; color: #ffffff; font-size: 14px; display: block; text-decoration: none;}
#plan_options ul li a:hover {background-color: #9F6F2E;}
#plan_options ul li a.home {background-image: url('../images/icons/icon_home_2.png'); background-repeat: no-repeat; background-position: 50% 50%; width: 40px; height: 30px; padding: 0;}

#horizontal_menu li ul {overflow: hidden; display: none; height: auto;}
#horizontal_menu li ul li {float: none;}
#horizontal_menu li ul li a {width: 120px; background: #593E1A;} 
#horizontal_menu li:hover ul { position: absolute; background: #9F6F2E; display: block; width: 120px; z-index: 1; }  
#horizontal_menu li:hover ul li { border-top: #301F0D solid 1px;}

#weekday_header {position:absolute; top: 0px; left: 40px; right: 10px; height: 14px;}
#weekday_header {font-size: 10px; border-left: #BEBFB8 1px solid; border-right: #BEBFB8 1px solid;}
#weekday_header {background-color: #DEDEDE;}
#weekday_header table {width: 100%; height: 100%;}
#weekday_header td {padding-top: 2px; text-align: center; }
#weekday_header td:hover {background-color: #EFEFEF;}
#weekday_header td a {display: block; color: #444444; text-decoration: none; }
#weekday_header td:hover a {display: block; color: #000000; text-decoration: none; }

#weekday_header_print {position:absolute; top: 30px; left: 40px; right: 10px; height: 13px;}
#weekday_header_print {font-size: 10px; border-left: #BEBFB8 1px solid; border-right: #BEBFB8 1px solid;}
#weekday_header_print {background-color: #DEDEDE;}
#weekday_header_print table {width: 100%; height: 100%;}
#weekday_header_print td {padding-top: 2px; text-align: center; }
#weekday_header_print td a {display: block; color: #000000; text-decoration: none;}

#print_header {position: absolute; top: 0px; left: 40px; right: 10px; height: 23px;}
#print_header {border-bottom: 1px solid #BEBFB8;}
#print_header {text-align: center; padding-top: 6px;}
#print_header {font-size: 16px; color: #000000}

.activity_block {position: absolute;}
.activity_block {border: 0px solid black;}
.activity_block {border-right: 1px solid #888888; border-bottom: 1px solid #888888;}
.activity_block {font-size: 11px; overflow: hidden;}
.activity_block a {color:#4d4a5e; text-decoration: none;}


.activity_block_print {position: absolute;}
.activity_block_print {border: 0px solid black;}
.activity_block_print {border-right: 1px solid #444444; border-bottom: 1px solid #444444}
.activity_block_print {font-size: 11px; overflow: hidden; }
.activity_block_print a {color:#000000; text-decoration: none;}

.activity_group {position: absolute; right: -10px; bottom: -5px;}
.activity_group {font-size: 64px; color: rgba(255,255,255,0.8); overflow: hidden; }
/*.activity_group {text-shadow: -1px 0 #CECECE, 0 1px #CECECE, 1px 0 #CECECE, 0 -1px #CECECE;}*/

.activity_content {position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden;}
.activity_content {padding: 3px;}
.activity_content {border-left: 1px solid #888888; border-top: 1px solid #888888;}
.activity_content a:hover {color:black; text-decoration: none;}

.activity_content_print {position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden;}
.activity_content_print {padding: 3px;}
.activity_content_print {border-left: 1px solid #444444; border-top: 1px solid #444444;}

.subject_content  {margin-bottom: 4px; white-space: nowrap;}
.students_content {margin-bottom: 4px;}
.teachers_content {margin-bottom: 4px;}
.bottom_content_containter {position: absolute; left: 3px; right: 3px; bottom: 3px;}
.room_content {float: left; vertical-align: bottom;}
.type_content {float: right; vertical-align: bottom;}


#print_body {background-color: #FF0000;}

/* ------------------------------------------------------ */
/* --- VERTICAL MENU ------------------------------------ */

#vertical_menu {border: 1px solid #ccc;}
#vertical_menu p.header {background: #dedede; height: 29px; line-height: 29px; text-align: center; color: #666; border-bottom: 1px solid #ccc;font-weight: bold; }
#vertical_menu ul {background: #f9f9f9; }
#vertical_menu ul li {display: block;}
#vertical_menu ul li.border_right {}
#vertical_menu ul li.border_left {}
#vertical_menu ul li a {padding: 8px 8px; color: #4D4A5E; display: block; text-decoration: none;}
#vertical_menu ul li a:hover {background: #6E98CC; color: #ffffff;}

/* ------------------------------------------------------ */
/* --- USER BAR ----------------------------------------- */

#top {background: #000; height: 60px; line-height: 30px; padding-left: 11px;}
#top #user_bar {color: #f9f9f9; float: right; padding-right: 15px;}
#top #languages {float: right; padding-top: 3px; margin-right: 3px;}
#top #logo {float: left;}
/* ------------------------------------------------------ */
/* --- BREADCRUMB --------------------------------------- */

#breadcrumb {}
#breadcrumb span {height: 13px; line-height: 13px; position: relative; top: -1px;}
#breadcrumb a {color: #527299; text-decoration: none; font-size:12px; font-weight: bold; height: 13px;  display: inline-block; margin-bottom: 7px;}
#breadcrumb a:hover {text-decoration: underline;}

/* ------------------------------------------------------ */
/* --- CONTENT ------------------------------------------ */

#content {padding: 7px;}
#column_1_1 {}
#column_1_2 {width: 200px; float: left;}
#column_2_2 {width: 790px; padding-left: 10px; float: left;}

/* --------------------------------------------
 * --- NEWS 
 * -------------------------------------------- */

.news {border: 1px solid #cecece; padding: 7px 11px 11px 11px; margin: 11px;}
.news .date {margin-bottom: 11px; font-size: 11px; font-weight: bold;}
.news .content {text-align: justify; margin-left: 7px;}

/* ------------------------------------------------------ */
/* --- FOOTER ------------------------------------------- */

#footer {background-color: #E4E3E8; color: #4D4A5E; height: 30px; padding-left: 5px; height: 30px; line-height: 30px;}
#footer .copyrights {float: left;}
#footer .version {float: right; padding-right: 15px; color: #999999;}

/* ------------------------------------------------------ */
/* --- SYJON -------------------------------------------- */

#apps_list {}
#apps_list .table_0 thead td {height:10px;}
#apps_list .table_0 .label {width: 30px; height: 30px;}
#apps_list .table_0 .label div {width: 30px; height: 30px;}
#apps_list .table_0 .version {width: 40px; text-align: right; color: #999999;}
#apps_list .meroving .label div {background: #FFD700; border: 1px solid #CCAC00;}
#apps_list .trinity .label div {background: #f1b868; border: 1px solid #f3a21f;}
#apps_list .whiterabbit .label div {background: #3f5423; border: 1px solid #13190a;}
#apps_list .megacity .label div {background: #00CED1; border: 1px solid #00A5A7;}
#apps_list .metacortex .label div {background: #7c7a88; border: 1px solid #4d4a5e;}
